---
- name: install ruby
  apt: name={{ item }} state=present
  with_items:
    - ruby
    - ruby-dev
    - libsqlite3-dev
    - g++
# Mailcatcher usage:
# mailcatcher --foreground --http-ip=0.0.0.0
# http://YOUR_HOSTNAME:1080
- name: install gems
  shell: gem install {{ item }} --no-ri --no-rdoc
  with_items:
    - sass
    - compass
    - mailcatcher
